.container {
  margin: auto;
  width: 75%;

}
.row {
  display: inline-flex;
  width: 100%;
  margin-top: 40px;
}
.text-container {
  margin-left: 20px;
  margin-right: 20px;
  width: 25%;
  text-align: left;
}
.chart-container {
  width: 80%;
  position: relative;
  display: block;
}
.button-start {
  display: flex;
  align-items: center;
  justify-content: center;

}

input{

  width: 40px;
  margin-bottom: 8px;
}

label{
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
}
h5 {
  margin-bottom: 0px;
}
.labels {
  list-style: square;
  padding: 0;
  margin: 0;
}
.labels li {
  display: inline-flex;

}

.labels p {
  font-size: 12px;
}

.systems li {
  display: block;
}
